@font-face {
    font-family: adelia;
    src: url(ADELIA.otf);
}

body {
    background-color: #694014;
    text-align: center;
    font-family: adelia;
    color: #ad884a;
    margin-top: 5%;
}

div {
    padding: 1%;
    margin: 1% 30%;
    background-color: white;
    border-radius: 100px;
    text-align: center;
}

img {
    border-radius: 100px;
}